* {
  text-decoration-thickness: 0.06em!important;
  text-underline-offset: 0.1em;
}

.home-heading {
	font-size: 1.7em;
	font-weight: bold;
}


@mixin flexlink {
  display: flex;
	justify-content: space-between;
  align-items: baseline;
	text-decoration: none;
}

.tag {
  &-category-heading {
	  font-variant: small-caps;
    // padding-bottom: 15px;
    @extend .home-heading;
  }
  &-category-container {
    @include flexlink;
  }
  &-list {
    list-style: none;
    padding-bottom: 15px;
    @extend .post-title;
  }
  &-list a {
    @include flexlink;
  }
  &-count {
    @extend .post-day;
  }
  &-tag {
    font-style: italic;
  }
}

.posts {
	&-list {
		list-style: none;
		flex-grow: 1;
	}
}

@media (max-width: 600px) {
  .post-list a, .tag-list a {
    flex-direction: column;
  }
  .post-day, .post-meta {
    font-size: 0.9rem;
  }
}

.post {
	&-preview {
		padding: 10px 0 10px 0;
	}

	&-list a {
    @include flexlink;
	}

	&-title {
		font-size: 1.1rem;
    line-height: 1rem;
    &:hover {
      text-decoration: underline;
    }
	}

  &-day {
    font-size: 0.9rem;
  }

	&-meta {
	  font-style: italic;
    font-size: 0.9rem;

    a {
      text-decoration: none;
      &:after {
        content: "o";
        font-style: normal;
        font-size: 0.5rem;
        position: absolute;
        margin-left: 1px;
      }
    }

	  .slant {
		  font-style: normal;
	  }
	  .meta-sep {
		  padding: 0 10px;
	  }
	}
}

.toc {
  @media (min-width: 600px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
  }
  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    text-decoration: none;
    font-style: italic;
  }
}

blockquote {
	font-style: italic;
	color: hsl(0, 5%, 25%);
	p {
		text-align: center;
		position: relative;
	}
	p:first-of-type::before {
		content: "\201C";
		font-size: 60px;
		display: block;
		position: absolute;
		top: -30px;
		left: -50px;
		color: hsl(0, 5%, 25%);
	}
	margin-bottom: 30px; // slightly increase this compared to the top so it looks natural
}

.menu {
	margin-bottom: 0.4rem;
  text-align: right;
  font-size: 0.85rem;
  font-style: italic;

  &-span:first-of-type {
    margin-left: 0;
  }

  &-span:last-of-type {
    margin-right: 0;
  }

  &-span {
    margin-left: 14px;
  }

  &-all {
    padding-bottom: 4px;
    border-bottom: 1px dashed #c9c0bb;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: overline;
    text-decoration-color: #c9c0bb;
  }
}

footer {
	margin: 80px 0 0;
  font-size: 0.9rem;

  text-align: center;
	font-style: italic;

  span {
    padding: 6px 16px 0 16px;
    border-top: 1px dashed #c9c0bb;
  }

  a {
    text-decoration: none;
  }
}

.pager {
	list-style: none;
	text-align: center;
	margin: 20px 0 0;
	padding-left: 0;
}

.pager ul {
	display: block;
}

.pager .previous > a {
	margin: 20px 0 0;
	float: left;
	display: block;
}

.pager .next > a {
	margin: 20px 0 0;
	float: right;
	display: block;
}

// style footnotes
.footnote-ref {
	font-size: 0.825rem;
	font-weight: bold;
	text-decoration: none;

	&:before {
		content: "[";
	}
	&:after {
		content: "]";
	}
}

.footnote-backref {
	text-decoration: none;
	border-bottom: 1px dashed;
}

#TableOfContents {
	margin-bottom: 1em;
	ol {
		list-style-type: lower-alpha;
	}
}

// support hugo builtin figures
figure {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
figcaption {
	text-align: right;
  h1, h2, h3, h4, h5, h6 {
    all: unset;
    font-style: italic;
    font-size: 0.9em;
  }
	p {
    all: unset;
    font-size: 0.9em;
    margin-left: 10px;
	}
	
}
img {
	max-width: 100%;
  max-height: 800px;
  height: auto;
}

.boxed {
	border: 1px solid hsl(0, 2%, 50%);
  font-size: 0.9rem;
	&-container {
		margin: 0;
		padding: 0.7rem;
	}
	&-label {
    font-size: 1rem;
		font-style: italic;
		font-weight: bold;
		margin-right: 20px;
	}
	&-info {
    // display: flex;
    // flex-direction: column;
    float: left;
		width: 4.5rem;
	}
  &-vertical {
    display: inline;
    width: 4.5rem;
  }
	&-text {
		margin-left: 4.5rem;
	}
}

// see postmeta.html for why important is needed
@media (max-width: 600px) {
  .boxed {
    &-info {
      float: none;
    }
    &-label {
      margin-right: 0!important;
    }
    &-text {
      margin-left: 0!important;
    }
  }
}

.pquote {
  color: #433d3d;
  padding-left: 2.5rem;
  margin-left: 0.5rem;
  border-left: 3px #433d3d solid;
  &-attrib {
    margin-top: 1.2em;
    margin-left: 2.5em;
    font-style: italic;
    font-weight: bold;
    &::before {
      content: '—';
    }
  }
}

// make all 'abstract' headings italic
#abstract {
	font-weight: normal;
	font-style: italic;
	margin-bottom: -20px;
}

// .katex-display {
//   overflow-x: auto;
//   overflow-y: hidden;
// }

.hlink {
  text-decoration: none;
}

// ox-hugo and org
.timestamp-wrapper {
  font-style: italic;
  font-size: 0.9em;
}

.org-svg {
  display: inline-block;
  width: auto;
  vertical-align: baseline;
}


