{{ define "main" }}
<div class="container" role="main">
	{{ if .Site.Author.description }}
	<p>{{ .Site.Author.description | markdownify }}</p>
	{{ end }}
  <span class="home-heading">New</span>
  <div class="posts-list">
    {{ $pag1 := .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections) }}
		{{ range $pag1.Pages.ByDate.Reverse }}
			{{ partial "preview.html" . }}
		{{ end }}
  </div>
  <hr style="max-width:50%;"/>
  <span class="home-heading">Recent Activity</span>
	<div class="posts-list">
    {{ $recent := where site.RegularPages "Section" "in" "blog" }}
    {{ $recent := where $recent "Title" "not in" site.Params.noList }}
    {{ range (first 7 $recent.ByLastmod.Reverse) }}
      {{ if and (not (in $pag1.Pages . )) }}
        {{ partial "preview.html" . }}
      {{ end }}
		{{ end }}
	</div>
</div>
{{ end }}
