<div class="post-meta">
  <span class="meta-post">
    {{ if .Params.categories }}
      {{ range .Params.categories }}
        <a style="font-style:normal;" href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/">{{ . }}</a>&nbsp;
      {{ end }}
      <label class="meta-sep">•</label>
    {{ end }}
    <label>Created: </label><label><label class="slant">{{ .Page.Date.Format (.Site.Params.dateformat | default "Jan 2, 2006") }}</label>
    <label class="meta-sep">•</label>
    <label>Modified: </label><label class="slant">{{ .Page.Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</label>
    {{ if .Params.status }}
      <label class="meta-sep">•</label>
      <a href="{{ $.Site.BaseURL }}about/#post-metadata">Status:</a>&nbsp;
      <label class="slant">{{ .Params.status }}</label>
    {{ end }}
    {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
          <a class="tags" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">﹟{{ . }}</a>&nbsp;&nbsp;
        {{ end }}
      </div>
    {{ end }}
  </span>
</div>
