<div class="post-meta">
  <span class="meta-post">
    {{ if .Params.categories }}
      {{ range .Params.categories }}
        <a style="font-style:normal;" href="{{ $.Site.BaseURL }}/categories/{{ . | urlize }}/">{{ . }}</a>&nbsp;
      {{ end }}
      <label class="meta-sep">•</label>
    {{ end }}
    <label>Created: </label><label><label class="slant">{{ .Page.Date.Format (.Site.Params.dateformat | default "Jan 2, 2006") }}</label>
    <label class="meta-sep">•</label>
    <label>Modified: </label><label class="slant">{{ .Page.Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</label>
    {{ if .Params.status }}
      <label class="meta-sep">•</label>
      <a href="{{ $.Site.BaseURL }}/about/#post-metadata">Status:</a>&nbsp;
      <label class="slant">{{ .Params.status }}</label>
    {{ end }}
    {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
          <a class="tags" href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}/">﹟{{ . }}</a>&nbsp;&nbsp;
        {{ end }}
      </div>
    {{ end }}
  </span>
</div>

{{ if (eq .Params.status "inprogress") }}
<!-- Special case of box shortcode -->
<div class="boxed">
  <div class="boxed-container">
		<div class="boxed-info" style="width:7rem;">
      <div class="boxed-vertical">
			  <label class="boxed-symbol" style="font-style:normal;">ⓘ</label>
			  <label class="boxed-label" style="font-style:normal;"> Note: WIP </label>
      </div>
		</div>
		<div class="boxed-text" style="margin-left:7rem;">
			<label>This post is <a href="/about#post-metadata">flagged as <code>inprogress</code></a> which means I consider it largely incomplete in it's current state. Expect rough, unfinished thoughts.</label>
		</div>
  </div>
</div>
{{ end }}